// Hero

.hero {
  min-height: 400px;
  padding-bottom: 118px;
  padding-top: 118px;

  text-align: center;

  background-color: $section-bg-dark;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include desktop {
    min-height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
    padding-top: 200px;
  }
}

.hero__wrap {
  @extend %container;
}

.hero__title {
  margin-bottom: 30px;
  margin-top: 0;

  @include font(21px, 1.62, 900, $letter-spacing-lg);
  color: $text-color-light;
  text-transform: uppercase;

  @include mobile {
    @include font(26px);
  }

  @include desktop {
    @include font(44px, 1.36);
  }
}
