// Page footer

.page-footer {
  padding-bottom: $footer-padding;
  padding-top: $footer-padding;

  background-color: $section-bg-dark;
}

.page-footer__wrap {
  @extend %container;

  @include tablet {
    display: flex;
    align-items: baseline;
  }

  @include desktop-max {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.page-footer__item {
  @include desktop-max {
    text-align: center;
  }

  &--subscription {
    @include desktop-max {
      flex-basis: 100%;
    }

    @include desktop {
      margin-left: auto;
    }
  }
}

.page-footer__item:not(:last-child) {
  @include desktop-max {
    margin-bottom: 60px;
  }

  @include desktop {
    margin-right: 70px;
  }
}

.page-footer__logo {
  margin-bottom: 20px;
}

.page-footer__title {
  margin-bottom: 20px;
  margin-top: 0;

  color: $text-color-light;

  font-style: normal;
  font-weight: 700;
  font-size: $font-size-default;
  line-height: 1.14;
  letter-spacing: $letter-spacing-default;
  text-transform: uppercase;
}

.page-footer__socials {
  @include desktop-max {
    justify-content: center;
  }
}
