// Page header

.page-header {
  display: flex;
  height: $header-height-mobile;

  background-color: $header-bg;
  border-bottom: 1px solid $header-border-color;

  @include tablet {
    height: $header-height;
  }
}

.page-header__wrap {
  @extend %container;

  display: flex;
  align-items: center;
}

.page-header__logo {
  align-self: stretch;
  align-items: center;
}

.page-header__menu-toggle {
  margin-left: auto;

  @include tablet {
    display: none;
  }
}

.page-header__menu,
.page-header__contacts {
  @include tablet-max {
    display: none;
  }
}

.page-header__menu {
  margin-left: 93px;
}

.page-header__contacts {
  margin-left: auto;

  @include desktop {
    display: flex;
  }
}

// page-header variants
.page-header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
