// Portfolio

.portfolio {
  @extend %section;
}

.portfolio__wrap {
  @extend %container;
}

.portfolio__filter {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.portfolio__image {
  @extend %image;
  width: 100%;
}
