// Work

.work {
  @extend %section;

  display: none;

  @include desktop {
    display: block;
    padding-top: calc($section-padding / 2);
  }
}

.work__wrap {
  @extend %container;
}

.work__title {
  @extend %section-title;
}
