// Logo

.logo {
  display: inline-flex;

  font-family: $font-secondary;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: $letter-spacing-default;

  user-select: none;

  @include desktop {
    font-size: 26px;
    line-height: 1.19;
  }
}

// logo variants
.logo--dark {
  &,
  &:hover,
  &:focus {
    color: $logo-color-dark;
  }
}

.logo--light {
  &,
  &:hover,
  &:focus {
    color: $logo-color-light;
  }
}
