.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(8px);

  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
