// Media query helpers
@mixin mobile {
  @media screen and (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

// max
@mixin mobile-max {
  @media screen and (max-width: #{$breakpoint-mobile - 1px}) {
    @content;
  }
}

@mixin tablet-max {
  @media screen and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin desktop-max {
  @media screen and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

// 2x screens, retina
@mixin retina {
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    @content;
  }
}

// Typography
@mixin font($fs: null, $lh: null, $fw: null, $ls: null) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}
