%container {
  width: 100%;
  padding-left: calc($grid-gap / 2);
  padding-right: calc($grid-gap / 2);
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    width: $breakpoint-mobile;
  }

  @include tablet {
    width: $breakpoint-tablet;
  }

  @include desktop {
    width: $breakpoint-desktop;
  }
}

%image {
  display: block;
  max-width: 100%;
  height: auto;

  text-align: center;
  background-color: $portfolio-border-color;
}

%list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

%section {
  padding-bottom: $section-padding;
  padding-top: $section-padding;

  @include desktop {
    padding-bottom: $section-padding-desktop;
    padding-top: $section-padding-desktop;
  }
}

%section-title {
  margin-bottom: 30px;
  margin-top: 0;

  font-size: 28px;
  line-height: 1.16;
  color: $text-color-dark;
  letter-spacing: $letter-spacing-default;
  text-align: center;

  @include desktop {
    margin-bottom: 50px;

    font-size: 36px;
  }
}
